.btn-blue {
	background-color: #eb8242;
	color: white;
	font-size: 20px; 
	padding: 9px 10px;
	border-radius: 4px;
	font-family: 'Roboto', sans-serif;
}

.btn-blue:hover {
	background-color: #f7d695;
	color: white;
}